<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    
    <link rel="stylesheet" href="../../static/tools/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/404/css/404.css">
    <link rel="stylesheet" href="../../static/tools/css/sweetalert2.min.css">
    <script src="../../static/tools/js/jquery.min.js"></script>
    <script src="../../static/tools/js/bootstrap.min.js"></script>
    <script src="../../static/tools/js/sweetalert2.js"></script>


</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 gif-404-box">
                <img src="../../static/404/img/404.gif" alt="">
                <h1>404</h1>
                <h2>你的网线被小橘子拔掉啦!</h2>
                <h2>快回<a href="../index.html">首页</a>看看吧!</h2>
            </div>
        </div>
    </div>

    <!-- 背景动画 -->
<!--    <canvas id="c1"></canvas>-->
<!--    <script src="../../static/404/js/bgAnimation.js" defer></script>-->

    <!-- 鼠标点击 -->
    <script src="../../static/tools/js/mouseClick.js"></script>
</body>
</html>