.content{
    padding-top: 20px;
}
/* 小图标 */
.home_log,.rank_log{
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    position: relative;top: 14px;
    margin-right: 5px;
    margin-left: 18px;
    /* color: red; */
    /* border:solid 1px black; */
    border-radius: 50%;
    background-color: #ff5c7c;
}
.rank_log{
    background-color:#00a1d6 ;
}


.home_log>span,.rank_log>span{
    position: absolute;top: 9px;left: 10px;
    color: #fff;
}

.home_log:hover,.rank_log:hover{
    cursor: pointer;
}

/* 搜索框 */
.search_input{
    display: inline-block;
    width: 70%;
    margin-left: 10px;
}
/* 搜索小图标 */
.search_log{
    right: 1%;
}
/* 悬停样式 */
.search_log:hover{
    cursor:pointer;
    background-color:#2e6da4;
}
#list{
    padding-top: 20px;
    margin-top: 20px;
}
/* 样式 */
#list td{
    border-top: 0;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
}
/* 悬停样式 */
#list td:hover{
    cursor:pointer;
    color:#00a1d6

}
/* 选中样式 */
.select{
    border-bottom: 3px solid #00a1d6;
    color:#00a1d6
}
/* 去除a标签样式 */
a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:inherit;
    outline:none;
}

/*标题和图标*/
.suggest span {
    font-size: 24px;
}

/*图标*/
.suggest .record_log, .hot_search_log {
    color: #f489ad;
}


.suggest > .hot_search, .records {
    display: inline-block;
    width: 300px;
}
/* 内容 */
.abstract {
    font-size: 12px;
    color: #99a2aa;
    position: absolute;
    left: 1px;
    top: 40px;
    width: 700px;
    /*超出部分用省略号*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 标题 */
.title {
    position: absolute;
    left: 1px;
    top: 3px;
    font: 12px Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 700px;
    /*超出部分用省略号*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title:hover {
    color: #00a1d6;
}


/* 清除列表样式 */
.blog ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog ul {
    display: inline-block;
}

/* li样式 */
.info li {
    width: 720px;
    border-top: solid 1px #ccc;
    height: 100px;
    margin: 15px;
    position: relative;
}

/* 头像 */
.info img {
    width: 24px;
    height: 24px;
    /* position:absolute;left: 1px;top: 3px; */
}

/* 名字 */
.info .name {
    position: absolute;
    left: 1px;
    bottom: 3px;
    color: #99a2aa;
    font-size: 12px;

}

.info .name:hover {
    color: #00a1d6;

}
/* 点赞收藏评论 */
.history {
    position: absolute;
    right: 10px;
    bottom: 3px;
}

.history > i {
    padding-right: 25px;
}

.history > i:hover {
    cursor: pointer;
    color: #00a1d6;
}
/*搜索无结果图片*/
.no_search_results {
    /*position: absolute;*/
    background: url(//s1.hdslb.com/bfs/static/jinkela/search/asserts/no-data.png) no-repeat 50% 50%;
    width: 730px;
    height: 400px;
}


/*小火箭*/
.rocket-con {
    position: fixed;
    background: url(//static.hdslb.com/bl2se/images/rocket_top.png);
    width: 150px;
    height: 175px;
    cursor: pointer;
    z-index: 99;
    bottom: 0;
    left: 50%;
    margin-left: 490px
}

.fly {
    animation: fly .4s steps(1) infinite;
    background-image: url(//static.hdslb.com/bl2se/images/rocket_frame.png)
}

@keyframes fly {
    0% {
        background-position-x: 0
    }
    25% {
        background-position-x: -150px
    }
    50% {
        background-position-x: -300px
    }
    75% {
        background-position-x: -450px
    }
    to {
        background-position-x: -600px
    }
}

.box {
    background: #f5f5f5;
    opacity: 0.9;
    position: relative;
}
.backimg {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
}

